.vscode

client/node_modules
client/build

server/node_modules
server/distserver/node_modules
server/dist
server/*.tsbuildinfo
server/.eslintignore
server/.eslintrc.js
server/.npmrc
server/.prettierignore
server/.prettierrc
server/.yo-rc.json